numpy==1.26.4

Pillow==11.3.0

requests==2.32.4

FastAPI==0.115.6

uvicorn==0.34.0

python-multipart==0.0.20

httpx==0.28.1

pymongo==4.13.2

pytest==8.4.1

python-dotenv==1.2.2

pandas

matplotlib

plotly==6.0.1

ultralytics

gdown

google-api-python-client
google-auth-httplib2
google-auth-oauthlib